@{
	ViewBag.Title = "About the project";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-4">
		<h2>Dota Api Peoject</h2>
		<p>The back-end where data is fetched using Steam APIs.</p>
		<p><a class="btn btn-default" href="https://github.com/apatel-gpsw/DotaApi">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Dota Web Project</h2>
		<p>
			An ASP.NET MVC website that shows statistics of players/games.
		</p>
		<p><a class="btn btn-default" href="https://github.com/apatel-gpsw/DotaWeb">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Steam Authentication Project</h2>
		<p>Cloned from the <a href="https://github.com/geel9">geel9</a></p>
		<p><a class="btn btn-default" href="https://github.com/geel9/SteamAuth">Learn more &raquo;</a></p>
	</div>
</div>
