@{
	ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
	<h3>@ViewBag.Message</h3>*@

@*<button class="accordion">Section 1</button>
	<div class="panel">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>

	<button class="accordion">Section 2</button>
	<div class="panel">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>

	<button class="accordion">Section 3</button>
	<div class="panel">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>*@

<meta name="viewport" content="width=device-width, initial-scale=1">
<script language="javascript" type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		acc[i].addEventListener("click", function () {
			this.classList.toggle("active");
			var panel = this.nextElementSibling;
			if (panel.style.display === "block") {
				panel.style.display = "none";
			} else {
				panel.style.display = "block";
			}
		});
	}
</script>
@*<script>
		$(document).ready(function () {
			// Accordion is collapsed by default
			$("h1").trigger("click");

			// Collapse when postback
			if (document.referrer.indexOf(document.location.href) == 0) {
				$("h1").trigger("click");
			}
		});
	</script>*@

<div id="myContainer"></div>